
/* Generale */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Head */

header {
  background-color: rgb(37, 94, 233);
}


h2 {
  font-size: 35x;
}


.container {
  width: 80%;
  height: 180px;
  background: rgb(37, 94, 233);
  margin: 0 auto;
  }


nav ul li {
  list-style: none;
  display: inline-block;
  margin-top: 15px;
}

img.logo {
  vertical-align: middle;
  }

nav ul  {
  text-decoration: none;
  color: white;

}

a.sending {
  margin-left: 136px;
  color: white;
  text-decoration: none;
 

}

h1 {
  text-align: center;
  margin: 0 auto;
  padding: 30px;
}

a.bottone {
  text-decoration: none;
}

li:last-child {
  display: inline-block;
  padding: 8px 15px;
  background-color: white;
  border-radius: 102px;
  text-decoration: none;
  font-size: 17px;
  cursor: pointer;
  margin-left: 140px;
  margin-right: 0;
}

/* Section Jumbotron */

.jumbotron{
  position: relative;
  height: 480px;
  background-image: url(../img/jumbo.png);
  background-position: center;
  background-size: cover;
  overflow: hidden;
  color: white;
}

.jumbotron .info-jumbo {
position: absolute;
width: 34%;
padding-left: 35px;
text-align: center;
top: 27%;
left: 44%;
transform: translate(-50%, -50%);
}

.info-jumbo h1 {
  font-size: 45px;
}

.info-jumbo p {
  font-size: 20px;
}

.bottone-maxi {
  display: inline-block;
  padding: 10px 23px;
  border-radius: 102px;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  margin-left: 13px;
  margin-top: 9px;
}


#black-botton {
  background-color: rgb(35, 39, 42);
  color: white;
}

#white-botton {
  background-color: white;
  color: black;
}

/* Main */

.clear-fix::after{
  content: '';
  display: table;
  clear: both;
}

.box {
  text-align: left;
  height: 100%;
  float: left;
  margin: auto;
}

.frog-img{
  width: 25%;
  float: left;
  padding-left: 200px;

}
.text-frog{
  width: 40%;
  float: right;
  padding-right: 31%;

}

img.item1{
  width: 100%;
}









