
/* Generale */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Head */

header {
  background-color: rgb(37, 94, 233);
}


.container {
  width: 80%;
  height: 40px;
  background: rgb(37, 94, 233);
  margin: 0 auto;
  }


nav ul li {
  list-style: none;
  display: inline-block;
  margin-top: 15px;
}

img.logo {
  vertical-align: middle;
  margin-right: 250px;
  }

nav ul li a {
  text-decoration: none;
  color: white;

}

a.sending {
  margin-left: 60px;
  

}

a.bottone {
  display: inline-block;
  padding: 3px 6px;
  background-color: white;
  color: black;
  border: 1px solid #222;
  border-radius: 10px;
  text-decoration: none;
  font-family: arial, verdana, sans-serif;
  font-size: 12px;
  cursor: pointer;
}

/* Section Jumbotron */

.jumbotron {

  height:100vh;
  background-image: url(../img/jumbo.png);
}




